<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Uber Eats
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Quanto ganha?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Media entre <b>20</b> a <b>25</b> dolares a hora, podendo chega a 40 em otimos casos, mas tambem a 10 dolares em casos ruins</p>
            <p>O Salario varia de acordo com o dia, dias chuvosos, frios ou que trazem alguma dificuldade para as pessoas sairem de casa sao os dias que voce consegue fazer mais entregar, mais pessoas pedindo e menos pessoas entregando tambem.</p>
        </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
