<mat-accordion>
  <mat-expansion-panel *ngFor="let accordion of accordions">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{accordion.title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-accordion>
        <mat-expansion-panel class="panel"
          *ngFor="let content of accordion.contents"
          [expanded]="content.title.toLowerCase() === params.subitem"
          (click)="gaTrack(accordion.title, content.title)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{content.title}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="data">
              <p [innerHTML]="content.data"></p>
              <cite class="flex-end" *ngIf="content.author">
                <a href="{{content.author.link}}" target="_blank">{{content.author.name}}</a>
              </cite>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
