.data {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-light);
    background-clip: border-box;
    padding: 1rem 1.6rem !important;
}

.mat-accordion > .mat-expansion-panel-spacing:last-child {
    margin-bottom: 1rem;
}

.panel {
    margin: 0 1rem;
    
    &:last-child {
        margin: 0 1rem 1rem;
    }
}

